@{
    ViewData["Title"] = "Rate-a-Game!";
}

<div class="row">
    <div class="col col-lg-6 mx-auto">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <div class="mt-4 mb-4 flex-lg-row" style="display: flex; justify-content: space-between;">
            <a asp-controller="Games" asp-action="Index" class="btn btn-secondary" style="width: 45%;">Games</a>
            <a asp-controller="Developers" asp-action="Index" class="btn btn-secondary" style="width: 45%;">Developers</a>
        </div>
    </div>
</div>
